.carousel {
  &__inner-slide {
    @include size(600px, 400px);
    border-radius: 10px;
    background: $_light_green;
    display: flex;
    flex-direction: column;
    border: 2px solid darkgreen;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .5);
    position: relative;
  }

  &__next-button {
    padding: 3px 15px 3px 25px;
  }

  &__back-button {
    padding: 3px 25px 3px 15px;
    margin-right: 10px;
  }

  .generate-btn {
    padding: 3px 10px 3px 15px;

    svg {
      position: relative;
      top: -3px;
      right: -2px;
    }
  }

  &-control {
    &-panel {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translate(-50%);
    }

    &-btn {
      background: transparent;
      border-radius: 5px;
      border: 2px solid white;
      @include text(500, 17px, white);
    }
  }

  .generation {
    &-stage-caption {
      @include text(500, 24px, white);
      margin: 70px 0 50px 80px;
    }

    &-option {
      @include text(500, '25px/20px', white);
      margin: 0 0 30px 100px;
    }

    &-pattern {
      background: white;
      border-radius: 5px;
      padding: 3px;

      &-input {
        @include size(300px, 200px);
        background: white;
        border: none;
        color: black;
        resize: unset;
      }
    }
  }
}

