.generator-wrapper {
  min-height: calc(100vh - 160px);
  height: calc(100vh - 160px);
  margin-top: 160px;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .carousel {
    @include size(600px, 400px);

    &__slider {
      @include size(100%);
    }

    &__inner-slide {
      @include size(600px, 400px);
      border-radius: 10px;
      background: lightgreen + darkgreen;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid darkgreen;
      box-shadow: inset 0 0 10px rgba(0, 0, 0, .5);
    }
  }
}
