.main {
  &-header {
    width: 100%;
    padding: 30px 0;
    background: linear-gradient(45deg,#4d9abf,#00c7b7);

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &-title {
    @media (max-width: $_max_md) {
      @include text(700, 40, white);
      line-height: 40px;
      margin-bottom: 20px;
    }

    @include text(700, 60, white);
  }

  &-subtitle {
    @media (max-width: $_max_md) {
      @include text(500, 20, black);
      line-height: 20px;
    }

    @include text(500, 30, black);
  }
}
