.main {
  &-header {
    width: 100%;
    height: 160px;
    padding: 20px 0;
    background: linear-gradient(45deg,#4d9abf,#00c7b7);
    position: fixed;
    top: 0;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &-title {
    @media (max-width: $_max_md) {
      @include text(700, 40px, white);
      line-height: 40px;
      margin-bottom: 20px;
    }

    @include text(700, 60px, white);
  }

  &-subtitle {
    @media (max-width: $_max_md) {
      @include text(500, 20px, black);
      line-height: 20px;
    }

    @include text(500, 30px, black);
  }
}
